@media screen and (max-width: 960px) {
    header nav .menu li img {
        display: none;
    }

    .logo {
        display: none;
    }

    header nav .menu li a {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: white;
        padding: 0 15px;
    }

    .title h1, .title h3 {
        font-size: 35px;
    }

    .header-right-menu {
        column-gap: 35px;
        font-size: 30px;
        padding: 0 35px;
        display: flex;
        flex-direction: row;
    }

    .title {
        padding: 100px 50px 50px 50px;
    }
}

@media screen and (max-width: 480px) {
    header nav .menu li img {
        display: none;
    }

    .logo {
        display: none;
    }

    header nav .menu li a {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: white;
    }

    .title h1, .title h3 {
        font-size: 20px;
    }

    .user-button, .chart-button {
        display: none;
    }

    .title {
        padding: 100px 20px 50px 20px;
    }
}