@media screen and (max-width: 1130px) {
    .news {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto 200px 200px;
        gap: 20px;
        justify-content: center;
    }

    .news-title {
        grid-column: 1 / span 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .news-1 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    
    .news-2 {
        grid-column: 2;
        grid-row: 3;
    }
    
    .news-3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .news-4 {
        grid-column: 3;
        grid-row: 3;
    }
    
    .news-5 {
        grid-column: 3;
        grid-row: 2;
    }

}

@media screen and (max-width: 1550px) {
    .our-brands {
        display: grid;
        justify-content: center;
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: auto 150px 150px 150px auto;
        gap: 30px;
    }

    .our-brands-title {
        display: grid;
        grid-column: 1 / span 4;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .our-brands-title-2 {
        display: grid;
        grid-column: 1 / span 4;
        grid-row: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .our-brands-1 {
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }
    
    .our-brands-2 {
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }
    
    .our-brands-3 {
        display: grid;
        grid-column: 3;
        grid-row: 2;
    }
    
    .our-brands-4 {
        display: grid;
        grid-column: 4;
        grid-row: 2;
    }
    
    .our-brands-5 {
        display: grid;
        grid-column: 1;
        grid-row: 3;
    }
    
    .our-brands-6 {
        display: grid;
        grid-column: 2;
        grid-row: 3;
    }
    
    .our-brands-7 {
        display: grid;
        grid-column: 3;
        grid-row: 3;
    }
    
    .our-brands-8 {
        display: grid;
        grid-column: 4;
        grid-row: 3;
    }
    
    .our-brands-9 {
        display: grid;
        grid-column: 1;
        grid-row: 4;
    }
    
    .our-brands-10 {
        display: grid;
        grid-column: 2;
        grid-row: 4;
    }
    
    .our-brands-11 {
        display: grid;
        grid-column: 3;
        grid-row: 4;
    }
    
    .our-brands-12 {
        display: grid;
        grid-column: 4;
        grid-row: 4;
    }
}

@media screen and (max-width: 900px) {
    .our-brands {
        display: grid;
        justify-content: center;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: auto 150px 150px 150px 150px auto;
        gap: 20px;
    }

    .our-brands-title {
        display: grid;
        grid-column: 1 / span 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .our-brands-title-2 {
        display: grid;
        grid-column: 1 / span 3;
        grid-row: 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .our-brands-1 {
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }
    
    .our-brands-2 {
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }
    
    .our-brands-3 {
        display: grid;
        grid-column: 3;
        grid-row: 2;
    }
    
    .our-brands-4 {
        display: grid;
        grid-column: 1;
        grid-row: 3;
    }
    
    .our-brands-5 {
        display: grid;
        grid-column: 2;
        grid-row: 3;
    }
    
    .our-brands-6 {
        display: grid;
        grid-column: 3;
        grid-row: 3;
    }
    
    .our-brands-7 {
        display: grid;
        grid-column: 1;
        grid-row: 4;
    }
    
    .our-brands-8 {
        display: grid;
        grid-column: 2;
        grid-row: 4;
    }
    
    .our-brands-9 {
        display: grid;
        grid-column: 3;
        grid-row: 4;
    }
    
    .our-brands-10 {
        display: grid;
        grid-column: 1;
        grid-row: 5;
    }
    
    .our-brands-11 {
        display: grid;
        grid-column: 2;
        grid-row: 5;
    }
    
    .our-brands-12 {
        display: grid;
        grid-column: 3;
        grid-row: 5;
    }
}

@media screen and (max-width: 700px) {
    .our-brands {
        display: grid;
        justify-content: center;
        grid-template-columns: 150px 150px;
        grid-template-rows: auto 150px 150px 150px 150px 150px 150px auto;
        gap: 10px;
    }

    .our-brands-title {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .our-brands-title-2 {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .our-brands-1 {
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }
    
    .our-brands-2 {
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }
    
    .our-brands-3 {
        display: grid;
        grid-column: 1;
        grid-row: 3;
    }
    
    .our-brands-4 {
        display: grid;
        grid-column: 2;
        grid-row: 3;
    }
    
    .our-brands-5 {
        display: grid;
        grid-column: 1;
        grid-row: 4;
    }
    
    .our-brands-6 {
        display: grid;
        grid-column: 2;
        grid-row: 4;
    }
    
    .our-brands-7 {
        display: grid;
        grid-column: 1;
        grid-row: 5;
    }
    
    .our-brands-8 {
        display: grid;
        grid-column: 2;
        grid-row: 5;
    }
    
    .our-brands-9 {
        display: grid;
        grid-column: 1;
        grid-row: 6;
    }
    
    .our-brands-10 {
        display: grid;
        grid-column: 2;
        grid-row: 6;
    }
    
    .our-brands-11 {
        display: grid;
        grid-column: 1;
        grid-row: 7;
    }
    
    .our-brands-12 {
        display: grid;
        grid-column: 2;
        grid-row: 7;
    }
}

@media screen and (max-width: 690px) {
    .news {
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: auto 150px 150px auto;
        gap: 10px;
        justify-content: center;
    }

    .news-title {
        grid-column: 1 / span 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .news-1 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    
    .news-2 {
        grid-column: 2;
        grid-row: 3;
    }
    
    .news-3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .news-4 {
        grid-column: 1;
        grid-row: 4;
    }
    
    .news-5 {
        grid-column: 2;
        grid-row: 4;
    }
}

@media screen and (max-width: 970px) {
    .our-services {
        display: grid;
        justify-content: center;
        grid-template-columns: 200px 200px;
        grid-template-rows: auto 200px 200px;
        gap: 35px;
    }

    .our-services-title {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .our-services-1 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .our-services-2 {
        grid-column: 2;
        grid-row: 2;
    }
    
    .our-services-3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .our-services-4 {
        grid-column: 2;
        grid-row: 3;
    }
}

@media screen and (max-width: 540px) {
    .our-services {
        display: grid;
        justify-content: center;
        grid-template-columns: 150px 150px;
        grid-template-rows: auto 150px 150px;
        gap: 10px;
    }

    .our-services > article > a > i {
        font-size: 50px;
    }

    .our-services-title {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .our-services-1 {
        grid-column: 1;
        grid-row: 2;
    }

    .our-services-2 {

        grid-column: 2;
        grid-row: 2;
    }

    .our-services-3 {
        grid-column: 1;
        grid-row: 3;
    }

    .our-services-4 {
        grid-column: 2;
        grid-row: 3;
    }    
}